@import url('App.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  scrollbar-width: thin;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  /* scrollbar-width: ; */
  /* width: 2rem; */
  background: linear-gradient(45deg, grey, rgb(92, 91, 91));
  border: 3px solid transparent;
  border-radius: 9px;
  width: 10px;
  /* width: ; */
  /* height: 1rem; */
  /* scrollbar-height: 1rem; */
}
:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
.hero {
  /* background: #141e30;
  background: -webkit-linear-gradient(to top, #243b55, #141e30);
  background: linear-gradient(to top, #243b55, #141e30); */
}
.navbar {
  transition: 0.3s ease-in;
}
#portal {
  opacity: 0;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 50;
  /* width: 100vw;
  height: 100vh; */
}
#portal.active {
  opacity: 1;
}

/* .background-blob {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgba(255, 255, 255) 10%,
    transparent 50%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  transition: 0.3s ease-in-out;
}

.background-blob:hover {
  background-image: radial-gradient(
    rgba(255, 255, 255) 10%,
     transparent 9%
  );
} */

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

.content {
  /* border-radius: 39px;
  background: linear-gradient(145deg, #2e3b4d, #37465b);
  background: linear-gradient(180deg, #0f172a, #334155); */
  /* box-shadow: 18px 18px 36px #161c25, -18px -18px 36px #506685; */
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.9s linear;
}
.content:nth-of-type(even) {
  /* transform: translateY(-50%); */
}
.content.show {
  transform: translateY(0);
  opacity: 1;
}
.project {
  /* border-radius: 39px;
  background: linear-gradient(145deg, #2e3b4d, #37465b);
  background: linear-gradient(180deg, #0f172a, #334155); */
  /* box-shadow: 18px 18px 36px #161c25, -18px -18px 36px #506685; */
  opacity: 0;
  transform: translateX(200%);
  transition: 0.8s ease-in-out;
}
.project:nth-of-type(even) {
  transform: translateX(-200%);
}
.project.show {
  opacity: 1;
  transform: translateX(0);
}

.blob {
  position: absolute;
}
.blob svg {
  /* height: 450px; */
}
.hi5 {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.blob:nth-child(1) {
  filter: blur(50px);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.magic {
  /* overflow-wrap: break-word; */
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.juggle {
  width: 300px;
  height: 300px;
  transform-origin: center;
  animation: orbit 30s linear infinite;
}
.juggle-box {
  width: 50px;
  height: 50px;
  position: absolute;
  box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.47);
}
.juggle-box:nth-child(1) {
  transform: translate(-150px, 0px);
}
.juggle-box:nth-child(2) {
  transform: translate(100px, 100px);
}
.juggle-box:nth-child(3) {
  transform: translate(0, 150px);
}
.juggle-box:nth-child(4) {
  transform: translate(-100px, 100px);
}
.juggle-box:nth-child(5) {
  transform: translate(150px, 0rem);
}
.juggle-box:nth-child(6) {
  transform: translate(-100px, -100px);
}
.juggle-box:nth-child(7) {
  transform: translate(0px, -150px);
}
.juggle-box:nth-child(8) {
  transform: translate(100px, -100px);
}

.details {
  background-color: rgba(34, 34, 34, 0.569);
  justify-content: space-between;
  color: white;
  padding: 0.7rem 1rem;
  height: 0;
  width: 0%;
  width: 100%;
  opacity: 0;
  margin: 0;
  position: absolute;
  bottom: 0%;
  transition: 0.5s ease;
}

.side-project:hover .details {
  margin-top: 0;
  height: 5rem;
  opacity: 1;
}

/* .rotate-box {
  width: 100px;
  height: 100px;
  margin-top: 180px;
  transform-origin: 200% center;
  position: relative;
  animation: rotate 3s linear infinite;
}
.rotate-box:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: blue;
  animation: rotate 3s linear reverse infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
} */
