@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
.navbar {
  transition: 0.3s ease-in;
}
#portal {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#portal.active {
  opacity: 1;
}

/* .blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #9bbae5;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
} */

/* .background-blob {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgba(255, 255, 255) 10%,
    transparent 50%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  transition: 0.3s ease-in-out;
}

.background-blob:hover {
  background-image: radial-gradient(
    rgba(255, 255, 255) 10%,
     transparent 9%
  );
} */
.blob {
  position: absolute;
}

.blob:nth-child(1) {
  filter: blur(50px);
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.magic {
  animation: background-pan 5s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.juggle-box:nth-child(1) {
  transform: translateY(100px);
}
.juggle-box:nth-child(2) {
  transform: translateY(50px);
}
.juggle-box:nth-child(3) {
  transform: translateY(100px);
}
.juggle-box:nth-child(4) {
  transform: translate(-120px, 150px);
}

.rotate-box {
  width: 100px;
  height: 100px;
  margin-top: 180px;
  transform-origin: 200% center;
  position: relative;
  animation: rotate 3s linear infinite;
}
.rotate-box:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: blue;
  animation: rotate 3s linear reverse infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
